body {
  font-family: "IBM Plex Mono", monospace;
  color: #000;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

#about{
  display: flex;
  justify-content: center;
}

#projects{
  display: flex;
  justify-content: center;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  body{
    background: white;
  }
}
@media only screen and (min-width:601px){
  body{
    background: #e2eee7;
    background-size: 50px 50px;
    background-image: linear-gradient(to right, white 2px, transparent 1px),
      linear-gradient(to bottom, white 2px, transparent 1px);
  }
}