@media only screen and (max-width: 600px) {
  * {
    background: white;
  }
}

body {
  background: #e2eee7;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, white 2px, transparent 1px),
    linear-gradient(to bottom, white 2px, transparent 1px);
  font-family: "IBM Plex Mono", monospace;
  color: #000;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
